Package: ofcomverter
Version: 1.0.0beta5
Section: web 
Priority: optional
Architecture: all
Essential: no
Depends: python, python-pgsql, python-mysqldb, python-pysqlite2
Suggests: mysql-server, postgresql, sqlite3
Maintainer: Gary Hawkins <gary.hawkins@garyhawkins.me.uk>
Description: Ofcom codelist.zip to PostgreSQL/MySQL converter
 Program to convert the files provided in codelist.zip from Ofcom to either a
 PostgreSQL, MySQL or sqlite3 database.
